<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="KinoGo">
  <test name="positive">
    <classes>
      <class name="Authorization"/>
      <class name="Homepage_test"/>
      <class name="Newfilmspage_test"/>
    </classes>
  </test>
  <test name="negative">
    <classes>
      <class name="NegativeAuth"/>
    </classes>
  </test>
</suite>