<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="KinoGo">
  <test name="func">
    <classes>
      <class name="Homepage_test"/>
    </classes>
  </test>
  <test name="auth">
    <classes>
      <class name="Authorization"/>
    </classes>
  </test>
</suite>

  <!-- mvn clean test -Dtestname='testname' -->